services:
  rest-server:
    image: ghcr.io/he-arc/moma_rest_server/moma-rest-server:latest
    ports:
      - "9810:9810"
    restart: always
    env_file:
      - .env
    volumes:
      - ./assets:/assets

  threejs-client:
    image: node:20-alpine
    working_dir: /app
    env_file:
      - .env
    command: >
      sh -c "
        apk add --no-cache git &&
        if [ -d .git ]; then
          git pull;
        else
          git clone https://github.com/HE-Arc/MoMa_ThreeJS_Client.git .;
        fi &&
        npm ci &&
        npm run build &&
        npm run preview -- --host 0.0.0.0 --port 3000
      "
    ports:
      - "9815:3000"
    restart: always

  babylonjs-client:
    image: node:20-alpine
    working_dir: /app
    env_file:
      - .env
    command: >
      sh -c "
        apk add --no-cache git &&
        if [ -d .git ]; then
          git pull;
        else
          git clone https://github.com/HE-Arc/MoMa_BabylonJS_Client.git .;
        fi &&
        npm ci &&
        npm run build &&
        npm run preview -- --host 0.0.0.0 --port 3000
      "
    ports:
      - "9820:3000"
    restart: always
