name: Build and Deploy Docker Image

on:
  push:
    branches:
      - main
      - dev
    paths:
      - 'Dockerfile'
      - '**' # Active le trigger pour tout changement, filtré plus bas si nécessaire

env:
  REGISTRY: ghcr.io
  # nom de l'image (github.repository est owner/repo)
  IMAGE_NAME: ${{ github.repository }}/motion-machine

jobs:
  docker-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=ref,event=branch

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
#
#  docker-deploy:
#    runs-on: ubuntu-latest
#    needs: docker-build
#    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev'
#
#    steps:
#      - name: Deploy via SSH
#        uses: appleboy/ssh-action@v1.0.3
#        with:
#          host: ${{ secrets.SSH_HOST }}
#          username: ${{ secrets.SSH_USER }}
#          key: ${{ secrets.SSH_PRIVATE_KEY }}
#          script: |
#            docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
#            # Assurez-vous que docker-compose.yml est présent sur le serveur ou copiez-le via scp avant
#            docker compose -f docker-compose.yml -p motion-machine up --remove-orphans --force-recreate -d
#            docker system prune -f
